[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/glew-cmake"]
	path = deps/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = https://github.com/kcat/openal-soft.git
